body{
    width: 800px;
}
.top-img-container{
    width: 800px;
    height: 500px;
}
.esperto{
    width: 800px;
}
.main-contents{
    margin-left: 0;
    margin-right: 0;
}
.left-title{
    font-size: 40px;
}
.left-paragraph{
    font-size: 15px;
}
.left-content{
    width: 400px;
}
.right-content{
    width: 400px;
}
.right-img,
.map{
    width: 300px;
    height: 300px;
}
footer{
    width: 800px;
}