RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
DirectoryIndex index.html index.htm index.shtml index.php index.cgi
Options -Indexes
AuthUserFile /home/whitecattle2/www/esperto/.htpasswd
AuthType Basic
AuthName "Web access"
Satisfy any
Order deny,allow
